* {
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #000;
    color: #fff;
}

.header {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('header-image.png');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.login {
    height: 500px;
    width: 380px;
    background-color: #000000bc;
    padding: 50px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin-top: 12px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

#text {
    width: 250px;
    height: 40px;
    justify-content: space-between;
    margin-top: 22px;
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    padding: 20px;
    border: 0;
    color: #fff;
    font-weight: 400;
}

button {     
    width: 250px;
    height: 40px;
    margin-top: 28px;
    border-radius: 5px;
    background-color: rgb(224, 6, 6);
    color: #fff;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

#cb {
    margin-top: 5px;
}

pre{
    font-size: 13px;
}

b {
    cursor: pointer;
}

font {
    cursor: pointer;
}

a {
    font-size:15px ;
    text-decoration: none;
    color: #fff;
}